/* @override http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #dbdbdb;
}

h1.title {
	font: bold 60px 'ABeeZee', sans-serif;
	margin: 0px;
}

* {
	font-family: 'ABeeZee', sans-serif;
}

table {
border-collapse: collapse;
	color: #692729;
	margin-top: 4em;
	margin-bottom: 4em;
}

td {
	padding: 10px;
}

tr:nth-child(2n){
	background: #ffeee8;
}

a {
	padding: 5px;
	color: #df7741 !important;	
}

a:hover {
	background-color: #dea780 !important; 
	color:  white !important;
}

input {
	border: 1px solid #cbcbcb;
	padding: 10px 8px;
	color: #ff9766;
}